<header class="flex justify-between items-center">
  <a href="/"><h1 class="text-4xl">Sketching with p5.js</h1></a>
  <nav>
    <ul class="flex gap-4 text-2xl">
      <li><a href="/sketches">Sketches</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
