<header class="flex justify-between items-center">
  <h1 class="text-4xl">Sketching with p5.js</h1>
  <nav>
    <ul class="flex gap-4 text-2xl">
      <li>Sketches</li>
      <li>About</li>
    </ul>
  </nav>
</header>
