---
import { Image } from "astro:assets";
import { SKETCHES_INFO } from "../constants/sketches";
import flowField from "../assets/sketches/flow-field/flow-field.png";
---

<div class="mt-20 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-0.5">
  {
    SKETCHES_INFO.map((sketch) => (
      <a href={`/sketches/${sketch.slug}`} class="group relative">
        <Image src={sketch.img || flowField} alt={sketch.slug} class="" />
        <ul class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex absolute top-0 gap-2">
          {sketch.tags &&
            sketch.tags.map((tag) => (
              <li class="bg-black/35 text-white py-0.5 px-2 font-thin">
                {tag}
              </li>
            ))}
        </ul>
        <div class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute bottom-0 w-full bg-black/35 text-white py-1.5 px-3">
          <p class="text-xl font-thin">{sketch.title}</p>
        </div>
      </a>
    ))
  }
</div>
