---
import Layout from "../../layouts/Layout.astro";
import SketchGallery from "../../components/SketchGallery";

import flowField from "../../assets/sketches/flowField/flowField.png";
import spirograph from "../../assets/sketches/spirograph/spirograph.png";
import { SKETCHES_INFO } from "../../constants/sketches";

export async function getStaticPaths() {
  return SKETCHES_INFO.map((sketch) => ({
    params: { slug: sketch.slug },
  }));
}

const { slug } = Astro.params;
const sketchSrc = `/sketches/${slug}.js`;
---

<Layout>
  <main class="">
    <div>
      <p class="text-3xl text-center mt-6">{slug}</p>
      <ul class="text-xl justify-center flex gap-4">
        <li>Tag 1</li>
        <li>Tag 2</li>
        <li>Tag 3</li>
      </ul>
    </div>
    <div id="canvas-container" class="flex justify-center mt-5"></div>
    <p class="text-3xl text-center mt-20">Sketch gallery</p>
    <SketchGallery
      images={[
        flowField,
        spirograph,
        flowField,
        spirograph,
        flowField,
        spirograph,
      ]}
      client:load
    />
  </main>
</Layout>

<script src=`${sketchSrc}` is:inline></script>
